{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{ genre.name }}{% endblock %}

{% block body %}
    <h3>{{ genre.name }}</h3>

    <div class="content-header">
        <h4>Résultats</h4>
    </div>
    <div class="row">
        {% set nbBooks = books|length/2 %}

        {% if nbBooks > 0 %}
        {% for i in 0..nbBooks-1 %}

            <div class="page-listing-item">
                <div class="row">
                    {% for book in books|slice( 2*i  , 2) %}
                        <div class="col-12 col-md-6 badge-pos-1">
                            <div class="page-item-detail">
                                <div class="item-cover">
                                    <a href="{{ path('book_details', { id: book.id }) }}"><img class="card-img h-150 w-110" src="{{ book.cover|default('http://placehold.it/100x130') }}" alt=""></a>
                                </div>
                                <div class="item-summary">
                                    <div class="item-title font-title">
                                        <h3 class="h5">
                                            <a href="{{ path('book_details', { id: book.id }) }}">{{ book.title }}</a>
                                        </h3>
                                    </div>
                                    <div class="item-rating">
                                        {% set rating = book.rating %}
                                        {% for i in 1..rating %}
                                            <i class="bi bi-star-fill"></i>
                                        {% endfor %}
                                        {% if rating != 5 %}
                                            {% for i in 1..5-rating %}
                                                <i class="bi bi-star"></i>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="list-chapter">
                                        <div class="chapter-item">
                                            <span class="chapter">
                                                <a href="">Chapter 2</a>
                                            </span>
                                        </div>
                                        <div class="chapter-item">
                                            <span class="chapter">
                                                <a href="">Chapter 1</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% else %}
            <div style="margin: auto">
                <p>Aucun résultat</p>
            </div>
        {% endif %}
    </div>
    {{ knp_pagination_render(books) }}
{% endblock %}
