{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Profil{% endblock %}

{% block body %}
    <section class="row my-4 mb-3">
        <div class="col-3">
            <img class="img-fluid" src="{{ user.avatar ? vich_uploader_asset(user, 'avatarFile') : 'http://placehold.it/300x300' }}" alt="Avatar">
        </div>
        <div class="col-9">
            <h2>{{ user.firstname }} {{ user.lastname }}</h2>
            {% if user.description %}<p>{{ user.description }}</p>{% endif %}
            {% if user == app.user %}
                <div class="btn-group">
                    <a class="btn btn-success" href="{{ path('profile_update') }}">Modifier mon profil</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
